# Ignore all files in the build output directory
/build*/
/core/generated/

# .vscode/
.*/
venv/
__pycache__/

# Temporary files
*.txt
*.log
*.env
*.pem
*.db

# Ignore all object files and shared libraries
*.o
*.so
